html {
  font-family: Merriweather, serif;
  color: #2f243a;
}

h1, h2, h3, h4, .karla {
  font-family: Karla, sans-serif;
}

.section-bio img {
  width: 100%;
}

body {
  margin: 0;
}

.thumbnails img {
  width: 100%;
}

.wordmark {
  width: 100px;
}

.wordmark-wrapper {
  padding-bottom: 0.5em;
}

.nav {
  background-color: #e5e5e5;
  box-shadow: 0 2px 40px #e5e5e5;
  padding: 2em;
  text-align: center;
}

.nav img {
  padding-bottom: 1em;
}

.nav li {
  display: inline;
}

nav ul {
  padding: 0;
}

.nav a {
  text-decoration: none;
  padding: 0 10px;
  color: #2f243a;
}

.header {
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0 1em;
}

.companies {
  background-color: #e5e5e5;
}

.companies img {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 1.5px solid #9f9aa4;
  width: 50px;
}

::selection {
  background: #fac9b8;
}
::-moz-selection {
  background: #fac9b8;
}
