html {
  font-family: Merriweather, serif;
  color: #2f243a;
}

a:focus {
  outline: 3px solid #000;
}

.nav-btn-bg {
  background-color: #e5e5e5;
}

.nav-btn-wrapper {
  margin: 0 auto;
}

.nav-btn {
  padding: 2em;
  font-family: karla, sans-sans-serif;
}

.nav-btn a,
.next-prev-disabled {
  color: #3d3d3d;
  text-decoration: none;
  margin-right: 2em;
}

h1, h2, h3, h4, .karla {
  font-family: Karla, sans-serif;
}

h1 {
  line-height: 2rem!important;
  padding-bottom: .25em;
}

.section-bio img {
  width: 100%;
}

body {
  margin: 0;
}

.thumbnails img {
  width: 100%;
}

.wordmark {
  width: 100px;
}

nav {
  margin-top: 1em;
}

.nav {
  margin: 1.5em 0;
  text-align: center;
}

.nav li {
  display: inline;
}

nav ul {
  padding: 0;
}

.nav a {
  text-decoration: none;
  padding: 0 10px;
  color: #2f243a;
}

.header {
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0 1em;
}

.header-wrapper {
  background: linear-gradient(-24deg,rgba(255,228,227,0.9),rgba(239,118,122,0.7),rgba(47,36,58,1)),url("../images/self-portrait-desk.jpg");
  background-repeat: no-repeat;
  color: #fff;
  background-position: bottom;
  background-size: cover;
  margin: 0 1.5em 2em 1.5em;
}

.companies {
  background-color: #e5e5e5;
}

.companies img {
  /* width: 180px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails img {
  border: 2px solid #fff;
}

hr {
  border: 1.5px solid #9f9aa4;
  width: 50px;
}

footer {
  background-color: #3d3d3d;
  color: #fff;
}

.footer-socials img {
  width: 4em;
  padding: 0 .5em;
}

.btn-contact,
.btn-home a {
  text-decoration: none;
  color: #2f243a;
}

.btn-contact,
.btn-home a {
  background: linear-gradient(-24deg,rgba(255,228,227,1),rgba(255, 227, 228, 0.5));
  border: 3px solid #e7cfcd;
  border-radius: 10px;
  padding: .5em;
  transition: background-color 0.2s ease-out;
}

.btn-contact {
  margin-left: 1em;
}

.btn-home a {
  padding: 0.5em 1em;
}

.btn-contact:hover,
.btn-home a:hover {
  background-color: #e7cfcd;
  transition-timing-function: ease;
  transition: 0.2s;
}

.companies {
  padding-bottom: 1em;
  padding: 1em 2em;
}

.oss {
  text-align: center;
}

.companies-wrapper {
  width: 50%;
  text-align: center;
}

.companies-wrapper img {
  width: 70%;
  display: inline-block;
  padding: 1em;
}

.r613 img {
  width: 100%;
}

.oss {
  width: 100%;
  padding: 0 3em;
  display: inline-block;
}

.senate img {
  width: 80%;
}

.video {
  padding: 0;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em;
}

::selection {
  background: #fac9b8;
}
::-moz-selection {
  background: #fac9b8;
}

.next-prev-disabled {
  color: #9f9aa4;
  cursor: not-allowed;
}

.footer-email {
  border-top: 1px solid #fff;
  padding-top: 0.75em;
  text-decoration: none;
  color: #fff;
}

footer p {
  line-height: 1.4!important;
}

.island-icon-wrapper {
  text-align: center;
}

.ec-desert-island {
  font-size: 125px;
  display: inline-block;
  margin: 0 auto;
}

.ec-wave {
  position: absolute;
  animation-name: wave;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.max-90 {
  margin-left: auto;
  margin-right: auto;
  max-width: 90em;
  width: 100%;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(40deg);
  }

  75% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}

.item-titles {
  padding-left: 2px;
  margin-bottom: .25em;
}

@media only screen and (min-width: 25em) {

  nav li:hover {
    border-bottom: 4px solid #9f9aa4;
    padding-bottom: .25em;
    transition-timing-function: ease;
    transition: 0.2s;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    line-height: 3.2rem!important;
  }

  nav {
    text-align: right;
  }

  .wordmark {
    margin-left: 6px;
  }

  .nav {
    text-align: left;
  }

  .header {
    margin-top: 10em;
    margin-bottom: 10em;
  }

  .companies {
    margin-top: 4em;
    padding-top: 1.5em;
    padding-bottom: 1em;
  }

  #about-me {
    margin-top: 6em;
  }

  .companies-wrapper {
    width: 20%;
    text-align: center;
  }

  .companies-wrapper img {
    width: 96%;
    display: inline-block;
  }

  .r613 img,
  .oss img {
    width: 110%;
  }

  .r613 img {
    padding-top: 1em;
    padding-left: .5em;
  }

  .oss img {
    margin-left: .5em;
    padding-top: .5em;
  }

  .oss {
    padding: 0;
    display: inline;
  }

  .senate img,
  .coyle img {
    width: 98%;
    padding-top: .5em;
  }

}

@media only screen and (min-width: 60em) {

  .header {
    padding: 4em 0;
  }

  .header-wrapper {
    background-position: center;
  }

  p {
    line-height: 1.8rem!important;
  }

}

@media only screen and (min-width: 90em) {

  #portfolio {
    margin-top: 6em;
  }

  .wordmark {
    width: 130px;
    padding-top: .5em;
  }

  .nav {
    margin: 2.5em 0;
  }

}
