.hero-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-homegrown-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-aral-c-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-project-aral-c.jpg");
}

.hero-vegan-info-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-infographic.jpg");
}

.hero-luxe-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-luxe.jpg");
}

.hero-election-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-election.jpg");
}

.hero-homegrown {
  color: #fff;
  padding: 5.5em 0;
}

.photos img {
  width: 100%;
}

.sources-links a {
  color: #a9a9a9;
}

.col-box {
  width: 4em;
  height: 6em;\
}

.col-mustard {
  background-color: #fbae1;
}

#homegrown img,
.box-shadow {
  box-shadow: 0 0 8px #c6c6c6;
}

.luxe-before {
  background-color: #000;
  padding: 2em;
}

.luxe-before img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 140px;
  max-width: 350px;
}

.luxe-after img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 380px;
}

.color-grid {
  margin: 0;
  padding: 0;
  min-width: 100%;
  float: left;
}

.img-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
}

.img-50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.img-25 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 100%;
}

.pad-left-mobile {
  padding-left: 1em;
}

@media only screen and (min-width: 38em) {

  .hero-homegrown-wrap {
    height: 30em;
  }

  .hero-homegrown {
    color: #fff;
    padding: 10em 0;
  }

}

@media only screen and (min-width: 40em) {

  .pad-left-mobile {
    padding-left: 0;
  }

}
