.hero-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-homegrown-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-aral-c-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-project-aral-c.jpg");
}

.hero-vegan-info-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-infographic.jpg");
}

.hero-luxe-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-luxe.jpg");
}

.hero-election-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-election.jpg");
}

.hero-homegrown {
  color: #fff;
  padding: 5.5em 0;
}

.photos img {
  width: 100%;
}

.sources-links a {
  color: #a9a9a9;
}

.col-box {
  width: 4em;
  height: 6em;\
}

.col-mustard {
  background-color: #fbae1;
}

#homegrown img,
.box-shadow {
  box-shadow: 0 0 8px #c6c6c6;
  -webkit-box-shadow: 0 0 8px #c6c6c6;
}

.color-grid {
  margin: 0;
  padding: 0;
  min-width: 100%;
  float: left;
}

.img-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 100%;
}

.nav-btn-wrapper {
  margin: 0 auto;
}

.nav-btn {
  padding: 1em 2em;
  font-family: karla, sans-sans-serif;
}

.nav-btn li {
  margin: 0 1em;
}

.btn-prev,
.btn-next,
.next-prev-disabled {
  width: 1em;
}

.next-prev-disabled {
  cursor: not-allowed;
}

.btn-home-icon {
  width: 2em;
}

.nav-btn-bg {
  background-color: #e5e5e5;

  position: fixed;
  top: 100vh;
  transform: translateY(-100%);
  width: 100%;
}

.img-50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.img-25 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 100%;
}

.pad-left-mobile {
  padding-left: 1em;
}

@media only screen and (min-width: 38em) {

  .hero-homegrown-wrap {
    height: 30em;
  }

  .hero-homegrown {
    color: #fff;
    padding: 10em 0;
  }

}

@media only screen and (min-width: 40em) {

  .pad-left-mobile {
    padding-left: 0;
  }

}
