.hero-wrap {
  /* height: 20em; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-homegrown-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-aral-c-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-project-aral-c.jpg");
}

.hero-vegan-info-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-infographic.jpg");
}

.hero-luxe-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-luxe.jpg");
}

.hero-election-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-election.jpg");
}

.hero-homegrown {
  color: #fff;
  padding: 5.5em 0;
}

.photos img {
  width: 100%;
}

.sources-links a {
  color: #a9a9a9;
}

.col-box {
  width: 4em;
  height: 6em;\
}

.col-mustard {
  background-color: #fbae1;
}

#homegrown img {
  box-shadow: 0 0 8px #c6c6c6;
}

@media only screen and (min-width: 38em) {

  .hero-homegrown-wrap {
    height: 30em;
  }

  .hero-homegrown {
    color: #fff;
    padding: 10em 0;
  }

}
