.hero-wrap {
  height: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-homegrown-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-aral-c-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-vegan-info-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-luxe-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-election-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/hero-homegrown.jpg");
}

.hero-homegrown {
  color: #fff;
  padding: 5.5em 0;
}

.photos img {
  width: 100%;
}

@media only screen and (min-width: 38em) {

  .hero-homegrown-wrap {
    height: 30em;
  }

  .hero-homegrown {
    color: #fff;
    padding: 10em 0;
  }

}
