<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href='https://unpkg.com/emoji.css/dist/emoji.min.css'>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Merriweather:400,400i" rel="stylesheet">
  <link href="favicon.ico" rel="shortcut icon">
</head>
  <header>
    <div class="nav push-0">
      <div class="wordmark-wrapper">
        <a href="{{site.baseurl}}/"><img class="wordmark" src="{{site.baseurl}}/images/wordmark-dark.png" alt="Wordmark"></a>
      </div>
      <nav>
        <ul class="push-0 karla mega">
          <a href="{{site.baseurl}}/"><li class="gutter-1-2">Portfolio</li></a>
          <a href="{{site.baseurl}}/#contact"><li class="gutter-1-2">Contact</li></a>
        </ul>
      </nav>
    </div>
  </header>
  <main itemref="data-author" itemscope itemtype="https://schema.org/WebSite">
  {{content}}
</main>
  <footer id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <div class="grid grid-top gutter pad-t-2 pad-b-2 wrapper">
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 footer-socials text-center pad-bottom">
        <a  itemprop="url" href="https://twitter.com/sarahabelart"><img src="{{site.baseurl}}/images/icon-twitter.svg" alt="twitter icon"></a>
        <a itemprop="url" href="https://www.instagram.com/sarahabel.art/"><img src="{{site.baseurl}}/images/icon-instagram.svg" alt="instagram icon"></a>
        <a itemprop="url" href="https://dribbble.com/sarahabelart"><img src="{{site.baseurl}}/images/icon-dribbble.svg" alt="dribbble icon"></a>
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2">
        <h4 class="push-0 giga">Who am I?</h4>
        <p class="micro push-0">My name is Sara, I'm a graphic designer with a background in multimedia development. I am a self-driven, fully bilingual (le Français est ma langue maternelle!) individual who strives to make other people happy. My expertise is in branding, user interface and experience design, typesetting, motion graphics and front-end web development.</p>
        <p itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="micro karla pad-top push-0">© <span itemprop="name">Sara Habel</span>, 2019 · <span itemprop="addressLocality">Ottawa</span>, <span itemprop="addressRegion">Ontario</span> <span itemprop="addressCountry">Canada</span></p>
      </div>
    </div>
  </footer>
</html>
