---
layout: default
---
<header role="banner" class="grid hero-wrap {{page.hero-wrapClass}} gutter" role="banner">
  <div class="unit xs-1 gutter max-length hero-homegrown">
    <h2 class="yotta push-0 not-bold">{{page.h2-content}}</h2>
    <h1 class="tenamega push-1-2">{{page.h1-content}}</h1>
    <h3 class="bold mega">{{page.h3-content}}</h3>
    <p></p>
  </div>
</header>
<section id="description" tabindex="0">

  {{content}}
</section>

<div class="grid nav-btn-bg">
  <div class="unit nav-btn-wrapper">
    <ul class="list-group-inline nav-btn push-0 mega">

      {% if page.previous %}
      <li class="btn-prev"><a aria-label="View previous portfolio piece" href="{{site.baseurl}}/{{page.previous}}"><img class="img-flex nav-btns" src="{{site.baseurl}}/images/icon-prev.svg" alt="Previous"></a></li>
      {% else %}
      <li class="next-prev-disabled"><img class="img-flex nav-btns" src="{{site.baseurl}}/images/icon-prev-disabled.svg" alt="Previous"></li>
      {% endif %}

      <li class="btn-home-icon"><a aria-label="Return to home page" href="{{site.baseurl}}/"><img class="img-flex nav-btns" src="{{site.baseurl}}/images/icon-home.svg" alt="Home" aria-label="Return home"></a></li>

      {% if page.next %}
        <li class="btn-next"><a aria-label="View next portfolio piece" href="{{site.baseurl}}/{{page.next}}"><img class="img-flex nav-btns" src="{{site.baseurl}}/images/icon-next.svg" alt="Next" aria-label="View next portfolio piece"></a></li>
      {% else %}
        <li class="next-prev-disabled"><img class="img-flex nav-btns" src="{{site.baseurl}}/images/icon-next-disabled.svg" alt="Next"></li>
      {% endif %}

    </ul>
  </div>

</div>
</html>
